<%if(typeof sucess !== "undefined" && sucess && sucess.length) {%>
<div class="alert alert-success alert-dismissable fade show col-6 offset-3 " role="alert">
    <%=sucess%>
   
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
   
</div>

<%}%>

<%if(typeof error !== "undefined" && error && error.length) {%>
    <div class="alert alert-danger alert-dismissable fade show col-6 offset-3 " role="alert">
        <%=error%>
       
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>
      
    </div>
    
    <%}%>
