<style>
  .btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  .Search{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i>WonderLust</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
       
          <a class="nav-link" href="/listing">Explore</a>
        
        </div>
        <div>
          <div class="navbar-nav navbar-collapse nav1 ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 Search" type="search" placeholder="Search " >
            <button class="btn btn-search" type="submit">Search<i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          </div>
        </div>
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listing/new">Airbnb your Home</a>

            <%if(!curruser){%>
            <a class="nav-link "  href="/singup"><b>Sing up</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            <%}%>
           
     
              <%if(curruser){%>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
            <%}%>
  

        </div>
      </div>
    </div>
  </nav>